:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --De-saturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  
  /* max-width: fit-content; */
  /* font-family: "Raleway", sans-serif; */
}

/* start of styling of the header */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-left: 0;
  font-weight: 400;
  font-size: .8rem;
  font-family: "Raleway", sans-serif;

  & + li {
    margin-left: 10px;
  }
}
header a {
  text-decoration: none;
  color: var(--De-saturated-Blue);
}
nav a:hover {
  color: var(--Moderate-Cyan);
  text-decoration: underline;
}
.logo {
  display: inline-block;
}
header {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}


header, .hero-one{
  background-color: var(--white);
}

.logo img {
  width: 120px;
}
/* End of Styling of the header */



/* start of styling of the main */
main {
  /* max-width: 765px; */
  padding-inline: 20px;
  margin-block-start: 70px;
}
/* start of styling of first hero section */
.hero-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.hero-one p:first-child {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1rem;
}
.hero-one img {
  width: 300px;
}
.content {
  order: 2;
}
.text {
  width: 100%;
}
.sub-text {
  padding-block-start: 20px;
  font-size: 15px;
  color: var(--De-saturated-Blue);
}
.cta {
  padding-block-start: 20px;
  display: flex;
  width: 100%;
  /* align-items: center; */
  flex-direction: column;
}
input {
  width: 100%;
  height: 35px;
  border: .5px solid var(--De-saturated-Blue);
  border-radius: 2px;
}
input[placeholder] {
  padding-inline-start: 8px;
}
.button {
  width: 100%;
  padding-block-start: 10px;
  padding-block-end: 90px;
}
.button button {
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding-block: 10px;
  background-color: var(--Bright-Blue);
}

h2{
  font-family: "Raleway" !important; 
}
/* End of Styling of first hero section */



/* start of styling of second hero section */
.hero-two{
  background-color: var(--Light-Grayish-Blue);
  background:radial-gradient(300% 200% at bottom, var(--Light-Grayish-Blue) 50%,var(--white)9.1%);
 /* The above styling is for the curved background */
  padding-inline: 20px;
  margin-inline: -20px;
  padding-block-end: 50px;
  
  >.hero-two-image img{
    max-width: 100%;
    padding-block-start: 100px;
    padding-block-end: 100px;
  }
  >.hero-two-content .hero-two-text h2{
    font-size: 1rem;   
    font-weight: 700;
    color: var(--Very-Dark-Blue);
    padding-block-end:25px;
    text-align: center;
  }
  >.hero-two-content .hero-two-text p{
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--De-saturated-Blue);
    padding-block-end: 20px;
    /* text-align: center; */
    
  }
  >.hero-two-content .hero-two-text .call-to-action{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color:var(--Moderate-Cyan);
    padding-block-end: 20px;
    text-align: center;
    border-bottom: 1px solid var(--Moderate-Cyan);
    width: 160px;
    margin: auto;
    padding-block-end: 5px;
    /* text-align: center; */
  }
  >.hero-two-content .hero-two-text .call-to-action:hover{
    cursor: pointer;
  }

  /* Styling of the card starts */
  .card{
    width: 300px;
    margin: 20px auto;
    /* font-size: 0.7rem; */
    border-radius: 10px;
    padding: 14px;
    background-color: var(--white);
  }
  .card .quote img{
    width: 14px;
  }
  .card .text p{
    font-size: .75rem;
    font-weight: 700;
  }
  
  .card img{
    width: 30px;
    border-radius: 100%;
  }
  .card .author{
    display: flex;
  }
  .card .author p{
    padding-block: 0;
    padding-inline-start: 10px;
  }
  /* Styling of the card starts */
  
}

/* End of Styling of second hero section */

/* start of styling of third hero section */
.hero-three{
  background-color: var(--De-saturated-Blue);
  padding-inline: 20px;
  margin-inline: -20px;
  >.hero-three-content{
    width: 84.9%;
    margin: auto;
    text-align: center;
    padding-block: 50px;
  }
  >.hero-three-content .hero-three-call-to-action input, .hero-three-content .hero-three-call-to-action button{
    border: none;
    border-radius: 2px;
    width: 100%;
    margin-block-end: 10px;
    padding-block: 10px;
    &:not(input){
      background-color: var(--Bright-Blue);
      color: var(--white);
      font-weight: 700;
      &:hover{
        cursor: pointer;
      }
    }
    
  }
  >.hero-three-content .hero-three-text h2{
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: var(--white);
    padding-block-end:25px;
    text-align: center;
  }
  >.hero-three-content .hero-three-text p{
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--Light-Gray);
    padding-block-end: 20px;
    /* text-align: center; */
    
  }
  >.hero-three-content .hero-three-text .call-to-action{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color:var(--Moderate-Cyan);
    padding-block-end: 20px;
    text-align: center;
    border-bottom: 1px solid var(--Moderate-Cyan);
    width: 160px;
    margin: auto;
    padding-block-end: 5px;
    /* text-align: center; */
  }
  >.hero-three-content .hero-three-text .call-to-action:hover{
    cursor: pointer;
  }
}
/* start of styling of third hero section */
/* End of Styling of the main */




/* start of styling of the footer */
footer{
  background-color: var(--Very-Dark-Blue);
  color: var(--white);
  padding-inline: 20px
}
.footer-content{
  padding-block: 70px;

  >.contact-us .Fylo-logo{
    padding-block-end: 40px;
  }

}
.contact-info-phone,.contact-info-call{
  display: flex;
  >div p{
    padding-inline-start: 20px;
    padding-block-end: 10px;
  }
}
.footer-links{
  /* padding-block-end: 50px; */
  padding-block: 40px;
  >ul li{
    list-style-type: none;
    padding-block: 10px;
  }

  >ul li a{
    text-decoration: none;
    color: var(--white);
  }
  >ul li a:hover{
    color: var(--Moderate-Cyan);
  }
  
}
.footer-social{
  text-align: center;
  >a{
    margin-inline: 15px;
  }
  
  >a img{
    width: 30px;
    height: 30px;
    border: 1px solid var(--white);
    border-radius: 50px;
    padding-inline: 10px;

  }
  >a img{
    color: yellowgreen;
  }
  
}
/* End of Styling of the footer */




@media screen and (min-width:900px) {
  header {
    padding-block-start: 76px;
    padding-inline: 98px;
    /* padding: 100px; */

  }
  .logo img {
    width: 195px;
  }
  nav ul li {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
  }
  nav ul li a {
    margin-left: 50px;
    font-weight: 700;
  }

  main {
    /* max-width: 765px; */
    padding-inline: 98px;
    margin-block-start: 70px;
  }
  .hero-one {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 80px;
    text-align: unset;
    align-items: unset;
    padding-block-end: 150px;
    >.content{
      width: 50%;
      padding-block-start: 100px;
    }
    >.content .text h2{
      font-size: 3rem;
      line-height: 1.5;
    }
    >.content .text p{
      font-size: 1.38rem;
      line-height: 1.5;
    }
    >.content-image{
      width: 50%;
    }
    >.content-image img{
      width: 100%;
    }
    
    .cta{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      column-gap: 20px;
    }

    
    .button {
      padding: 0;
    }
    .button button {
      /* width: 40%; */
      padding-block: 10px;
      /* padding-block-end: 0; */
      width: 35%;
    }
  }
  .cta div input{
    width: 350px;
    padding-block: 20px;
  }
  
  /* hero two section */

  .hero-two{
    background-color: var(--Light-Grayish-Blue);
    background:radial-gradient(250% 200% at bottom, var(--Light-Grayish-Blue) 50%,var(--white)9.1%);
    padding-inline: 98px;
    margin-inline: -98px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-block-start: 150px;
    column-gap: 20px;
    >.hero-two-image img{
      max-width: 100%;
    }
    >.hero-two-content{
      width: 100%;
    }
    .hero-two-content .hero-two-text h2{
      text-align: left;
      font-size: 3rem;
      padding-block-end: 48px;
      /* align-items: left; */
    }
    
    >.hero-two-content .hero-two-text p{
      font-size: 1.3rem;
      max-width: 700px;
      font-weight: 700;    
    }
    >.hero-two-content .hero-two-text p.call-to-action{
      margin: 0;
      width: 215px;
      padding-block-end: 5px;
    }
    .card{
      width: 450px;
      margin: 70px 0;
      /* font-size: .2rem; */
      padding: 40px;

    }
    .card .quote img{
      width: 20px;
    }

    .card .text p{
      font-size: 1.1rem;
      font-weight: 700;
    }
    .card img{
      width: 40px;
      border-radius: 100%;
    }
  }

  .hero-three{
    padding-inline: 98px;
    margin-inline: -98px;
    >.hero-three-content{
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;
      text-align: left;
      padding-block:100px;
      /* column-gap:30px; */
    }

    .hero-three-content{
      >.hero-three-text{
        width: 40%;
        /* text-align: left; */
      }
      >.hero-three-text h2{
        font-size: 2.3rem;
        text-align: left;
      }
      >.hero-three-text p{
        font-size: 1.25rem;
      }
      }
      >.hero-three-content .hero-three-call-to-action input, .hero-three-content .hero-three-call-to-action button{
    
        border-radius: 5px;
        margin-block-end: 10px;
        margin-block-end: 10px;
        font-size: 1rem;
        padding-block: 30px;
        margin-top: 30px;
        &:not(input){
          background-color: var(--Bright-Blue);
          margin-top: 5px;
          padding-block: 20px;
          width: 40%;
          font-size: 1rem;
        }
        
      }
      .hero-three-call-to-action{
        width: 600px;
        justify-content: right;
      }
      
    }
    .footer-content{
      display: flex;
      justify-content: space-around;
    }

    .contact-info-phone,.contact-info-call{
      display: flex;
      >div p{
        padding-inline-start: 20px;
        padding-block-end: 10px;
      }
    }
    .footer-links ul{
      padding-block-start: 43px;
    }
    .footer-social{
      padding-top:93px;
    }

  }
